/WitsCABS Code/WitsCABS_Backend/dist/
/WitsCABS Code/CallCenter/dist/
/WitsCABS Code/test/nbproject/private/
/WitsCABS Code/test/build/
/AAALab4/nbproject/private/
/AAALab4/build/
/WitsCABS Code/WitsCABS_Backend/Server/build/
/WitsCABS Code/WitsCABS_Backend/Server/dist/
/WitsCABS Code/WitsCABS_Backend/Server/nbproject/private/